<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name = "colur button"content="red" >
        <title>homepage</title>


    </head>
    <style>



        .green_box {

            margin: 15px;
            padding : 15px;
            display: inline-block;
            border : 3px solid red;
            border-radius :10px;
            background : green;
<!--            width : 100;-->

        }
    </style>
    <body>
        <a href="/admin">get to admin</a>
        <p>
        <div class = "green_box">
            aaa
        </div></p>

    </body>
</html>
